<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcc.search.mapper.UmsAdminMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zwyue.entity.UmsAdmin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sso_password" property="ssoPassword"/>
        <result column="icon" property="icon"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime"/>
        <result column="login_time" property="loginTime"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="login_type" property="loginType"/>
        <result column="unionid" property="unionid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        username,
        password,
        sso_password,
        icon,
        email,
        phone,
        nick_name,
        real_name,
        note,
        create_time,
        login_time,
        status,
        `type`,
        login_type,
        unionid
    </sql>

    <select id="userSeries" resultType="java.util.Map">
        SET
        @csum := 0;
        SELECT `time`,
               (@csum := @csum + num) AS `num`
        FROM (SELECT COUNT(1) num, DATE ( create_time) `time` FROM ums_admin
        GROUP BY DATE ( create_time )
        ORDER BY `time` ASC ) a
    </select>

    <select id="groupUserId" resultType="java.lang.Long">
        SELECT DISTINCT
        admin_id
        FROM
        ums_admin_group_relation
        WHERE
        group_id IN (
        SELECT
        id
        FROM
        (
        SELECT
        @ids AS _ids,
        ( SELECT @ids := GROUP_CONCAT( id ) FROM ums_admin_group WHERE FIND_IN_SET( parent, @ids ) ) AS cids
        FROM
        ums_admin_group,
        ( SELECT @ids := ( SELECT GROUP_CONCAT(group_id) FROM ums_admin_group_relation WHERE admin_id = #{value} and
        is_leader = 1), @l := 0 ) b
        WHERE
        @ids IS NOT NULL
        ) ID,
        ums_admin_group DATA
        WHERE
        FIND_IN_SET( DATA.id, ID._ids )
        )
    </select>

    <select id="getSameGroupUserIds" resultType="java.lang.Long">
        select distinct admin_id from ums_admin_group_relation where group_id in (select group_id from
        ums_admin_group_relation where admin_id = #{value})
    </select>
</mapper>
